<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ .title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
  <header>
    <img src="/assets/img/logo.png" alt="logo" id="logo" />
    <h1>{{ .title }}</h1>
  </header>
  <main>
    <section id="content">
      <h2>Tapones hexagonales para fontaneria</h2>
      <h3>Referencia: tapon-hexagonal</h3>
      <img src="/assets/img/tapon-hexagonal.jpeg" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>racores de laton de 3/4</h2>
      <h3>Referencia: racores-laton-34</h3>
      <img src="/assets/img/racor34.webp" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>racores de laton de 3/8</h2>
      <h3>Referencia: racores-laton-38</h3>
      <img src="/assets/img/racor38.webp" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>adaptador de 3/4 a 3/8 laton</h2>
      <h3>Referencia: adaptador-laton-34-38</h3>
      <img src="/assets/img/51cha4iNaoL._AC_SY300_SX300_QL70_ML2_.jpg" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>codo laton 3/8</h2>
      <h3>Referencia: codo-laton-38</h3>
      <img src="/assets/img/codo-de-laton-roscado-90-h-h-3-4.webp" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    
  </main>

  <script src="/assets/js/app.js"></script>
</body>
</html>