<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ .title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
  <header>
    <img src="/assets/img/logo.png" alt="logo" id="logo" />
    <h1>{{ .title }}</h1>
  </header>
  <main>
    <h2><a href="telefons-fixes">Telefonos fijos</a></h2>
    <h2><a href="planxes">Planchas</a></h2>
    <h2><a href="accesorios-congelador">Accesoris congelador</a></h2>
    <h2><a href="soportes-pantalla-pared">Soportes para colgar pantallas en pared</a></h2>
    <h2><a href="microfonos">Microfonos</a></h2>
    <h2><a href="mecanismos-elect-antiguos">Mecanismos electronicos antiguos</a></h2>
  </main>

  <script src="/assets/js/app.js"></script>
</body>
</html>