<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ .title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
  <header>
    <img src="/assets/img/logo.png" alt="logo" id="logo" />
    <h1>{{ .title }}</h1>
  </header>
  <main>
    <section id="content">
      <h2>Tubos pvc evacuacion flexibles</h2>
      <h3>Referencia: tubo-pvc-flexible</h3>
      <img src="/assets/img/tubo-pvc-flexible.jpg" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>Manguitos dual PVC flexibles</h2>
      <h3>Referencia: manguitos-pvc-flexibles</h3>
      <img src="/assets/img/manguitopvc.jpeg" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>Manga flexible y parecidos</h2>
      <h3>Referencia: manga-flexible</h3>
      <img src="/assets/img/mangaextensible.jpeg" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>Tubos pvc evacuación rigidos</h2>
      <h3>Referencia: tubo-pvc-rigido</h3>
      <img src="/assets/img/tuboblancorigido.jpeg" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>Manguitos para desagüe de inodoro pvc, con muescas de adaptación. Trozos. Blancos y grises</h2>
      <h3>Referencia: manguitos-pvc-desgues-rigidos</h3>
      <img src="/assets/img/12.webp" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>Tapones reduccion tubos</h2>
      <h3>Referencia: tapon-reduccion-tubos</h3>
      <img src="/assets/img/tapon-reduccion-tubos.jpeg" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>Mangueras flexibles drenaje, que conservan la forma. Sobretodo negras</h2>
      <h3>Referencia: mangueras-flexibles-drenaje</h3>
      <img src="/assets/img/S50ea219a68cb467e96d1853d9212f97d5.jpeg_640x640q75.jpeg_.avif" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    
  </main>

  <script src="/assets/js/app.js"></script>
</body>
</html>