<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ .title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
  <header>
    <img src="/assets/img/logo.png" alt="logo" id="logo" />
    <h1>{{ .title }}</h1>
  </header>
  <main>
    <h2><a href="wc-mecanismos-cisterna">WC Mecanismos de cisterna</a></h2>
    <h2><a href="sifones-desague">Sifones para el desague y accesorios</a></h2>
    <h2><a href="sumideros">Sumideros</a></h2>
    <h2><a href="valvulas-desague">Válvulas desague</a></h2>
    <h2><a href="latiguillos">Latiguillos</a></h2>
    <h2><a href="juntas">Juntas conicas</a></h2>
    <h2><a href="griferia-paso">Griferia de paso</a></h2>
    <h2><a href="evacuacion-agua">Evacuación de agua</a></h2>
    <h2><a href="accesorios-fontaneria">Accesorios de fontaneria</a></h2>
    
  </main>

  <script src="/assets/js/app.js"></script>
</body>
</html>