<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ .title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
  <header>
    <img src="/assets/img/logo.png" alt="logo" id="logo" />
    <h1>{{ .title }}</h1>
  </header>
  <main>
    <section id="content">
      <h2>Valvula o llave de paso de agua tipo palanca</h2>
      <h3>Referencia: valvula-palanca</h3>
      <img src="/assets/img/3021 06.jpeg" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>Valvula de palomilla</h2>
      <h3>Referencia: valvula-palomilla</h3>
      <img src="/assets/img/valvulapalomilla.jpeg" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>Llave de paso de agua de mariposa</h2>
      <h3>Referencia: llave-mariposa</h3>
      <img src="/assets/img/valvula-mariposa-Arco.png" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>Llave de paso de agua de globo o de asiento plano</h2>
      <h3>Referencia: llave-globo</h3>
      <img src="/assets/img/valvulamanualdeglobo.webp" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>Llave de paso de agua o válvula de cuña o compuerta</h2>
      <h3>Referencia: llave-compuerta</h3>
      <img src="/assets/img/valvula-de-copuerta.png" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>Llave de paso de agua de bola o de cono giratorio</h2>
      <h3>Referencia: llave-bola</h3>
      <img src="/assets/img/valvula-de-bola.png" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>Llave de paso de agua de diafragma</h2>
      <h3>Referencia: llave-diafragma</h3>
      <img src="/assets/img/Válvula-Diafragma-sigaltec.jpg" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>Las llaves de corte de escuadra</h2>
      <h3>Referencia: llave-escuadra</h3>
      <img src="/assets/img/valvula-de-escuadra-arco.png" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    
  </main>

  <script src="/assets/js/app.js"></script>
</body>
</html>