<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ .title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
  <header>
    <img src="/assets/img/logo.png" alt="logo" id="logo" />
    <h1>{{ .title }}</h1>
  </header>
  <main>
    
    <h2><a href="climatizacion">Calefaccion y climatizacion</a></h2>
    <h2><a href="fontaneria">Fontaneria</a></h2>
    <h2><a href="electrodomesticos">Electrodomesticos</a></h2>
    <h2><a href="portes-finestres">Accessoris de portes i finestres</a></h2>
    
  </main>

  <script src="/assets/js/app.js"></script>
</body>
</html>