<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ .title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
  <header>
    <img src="/assets/img/logo.png" alt="logo" id="logo" />
    <h1>{{ .title }}</h1>
  </header>
  <main>
    <section id="content">
      <h2>Latiguillo de fontanería flexible de agua para cisterna wc, grifo lavabo o fregadero de cocina o baño. Acero inoxidable.</h2>
      <h3>Referencia: latiguillos-acero-inoxidable</h3>
      <img src="/assets/img/tubflexible.png" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>Flexos para ducha y sus accesorios</h2>
      <h3>Referencia: flexos-ducha</h3>
      <img src="/assets/img/flexos-ducha.jpeg" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>Alcachofas para la ducha</h2>
      <h3>Referencia: alcachofas-ducha</h3>
      <img src="/assets/img/alcachofas-ducha.jpeg" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>Latiguillos para la lavadora</h2>
      <h3>Referencia: latiguillos-lavadora</h3>
      <img src="/assets/img/61VBijb5ZOL._AC_SX679_.jpg" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>Tubos de desague flexibles</h2>
      <h3>Referencia: tubos-desague-flexible</h3>
      <img src="/assets/img/8435574219558_1.jpg" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>Soporte de plastico para colgar tubo flexible de desague</h2>
      <h3>Referencia: soporte-curvo-tubo</h3>
      <img src="/assets/img/41+tE44VEYL._AC_SX679_.jpg" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    
  </main>

  <script src="/assets/js/app.js"></script>
</body>
</html>