<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ .title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
  <header>
    <img src="/assets/img/logo.png" alt="logo" id="logo" />
    <h1>{{ .title }}</h1>
  </header>
  <main>
    <section id="content">
      <h2>Sifones tipo botella</h2>
      <h3>Referencia: sifon-botella</h3>
      <img src="/assets/img/sifon-botella-jimtem-s-69-1-1-2.jpg" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>

    <section id="content">
      <h2>Sifones tipo curvo</h2>
      <h3>Referencia: sifon-curvo</h3>
      <img src="/assets/img/media.webp" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
        <section id="content">
      <h2>Enlace tubos lisos. Blanco y gris</h2>
      <h3>Referencia: enlace-tubos-lisos</h3>
      <img src="/assets/img/enlace-tubos-lisos.webp" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    </section>
        <section id="content">
      <h2>Tubos alargadores para sifones. Todos los colores y acabados</h2>
      <h3>Referencia: tubo-alargador</h3>
      <img src="/assets/img/tubo-alargador.webp" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    </section>
        <section id="content">
      <h2>Tuercas enlace pvc</h2>
      <h3>Referencia: tuercas-pvc</h3>
      <img src="/assets/img/tuerca-pvc-roscar-hembra_2.jpg" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
        <section id="content">
      <h2>Manguitos para desagüe inodoro, wc, cocina, etc.. Pvc. Con rosca. Todos los colores</h2>
      <h3>Referencia: manguitos-pvc-rosca</h3>
      <img src="/assets/img/enlaceconrosca.webp" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    
  </main>

  <script src="/assets/js/app.js"></script>
</body>
</html>