<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ .title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
  <header>
    <img src="/assets/img/logo.png" alt="logo" id="logo" />
    <h1>{{ .title }}</h1>
  </header>
  <main>
    <section id="content">
      <h2>Botones pulsadores para sistemas de descarga de cisterma de WC</h2>
      <h3>Referencia: botones-pulsadores-cisterna</h3>
      <img src="/assets/img/boton.jpeg" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>mecanismos descargadores completos o partes del descargador de cisterna de WC</h2>
      <h3>Referencia: descargadores-completos</h3>
      <img src="/assets/img/descargador.webp" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    
  </main>

  <script src="/assets/js/app.js"></script>
</body>
</html>