<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ .title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
  <header>
    <img src="/assets/img/logo.png" alt="logo" id="logo" />
    <h1>{{ .title }}</h1>
  </header>
  <main>
    <section id="content">
      <h2>Botones pulsadores para sistemas de descarga de cisterma de WC</h2>
      <h3>Referencia: botones-pulsadores-cisterna</h3>
      <img src="/assets/img/boton.jpeg" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>mecanismos descargadores completos o partes del descargador de cisterna de WC</h2>
      <h3>Referencia: descargadores-completos</h3>
      <img src="/assets/img/descargador.webp" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    <section id="content">
      <h2>Accesorios pequeños sueltos asociados al mecanismo de descarga: arandelas, tuercas especiales, tornillos de agarre al inodoro, etc.</h2>
      <h3>Referencia: accesorios-descargadores</h3>
      <img src="/assets/img/41w3-5+sjaL._SX522_.jpg" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
        <section id="content">
      <h2>Trozos de descargadores: boya, trozos del mecanismo, etc</h2>
      <h3>Referencia: descargadores-trozos</h3>
      <img src="/assets/img/411VmAfG1CL._AC_SX679_.jpg" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    </section>
        <section id="content">
      <h2>Accesorios grandes sueltos asociados al mecanismo de descarga: arandela de plastico grande de debajo, goma negra, herramienta para collar arandela, etc</h2>
      <h3>Referencia: acc-descargadores-grandes</h3>
      <img src="/assets/img/386873-LEGRAND-1000.jpg" id="imagenesProducto" alt="Descargador Interrumpible" id="descargadorImg" />
      <div id="helloOutput"></div>
    </section>
    
  </main>

  <script src="/assets/js/app.js"></script>
</body>
</html>